USE [master]
GO
/****** Object:  Database [Event]    Script Date: 27.04.2023 12:11:17 ******/
CREATE DATABASE [Event]

CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[PostID] [int] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Photo] [nvarchar](50) NULL,
 CONSTRAINT [PK_Employee_1] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 27.04.2023 12:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UOrderID] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL,
 CONSTRAINT [PK_Order_1] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Place]    Script Date: 27.04.2023 12:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Place](
	[PlaceID] [int] NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Street] [nvarchar](50) NOT NULL,
	[House] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
	[Photo] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Place] PRIMARY KEY CLUSTERED 
(
	[PlaceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 27.04.2023 12:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[PostID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 27.04.2023 12:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[Rating] [float] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Review] PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 27.04.2023 12:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 27.04.2023 12:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ServiceID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Price] [float] NOT NULL,
	[Photo] [nvarchar](50) NULL,
 CONSTRAINT [PK_ServiceID] PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 27.04.2023 12:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusIDF] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[StatusIDF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 27.04.2023 12:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserOrder]    Script Date: 27.04.2023 12:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserOrder](
	[UOrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[OrgDate] [date] NOT NULL,
	[Deposit] [float] NOT NULL,
	[TotalPrice] [float] NOT NULL,
	[PlaceID] [int] NOT NULL,
	[StatusID] [int] NULL,
 CONSTRAINT [PK_UserOrder] PRIMARY KEY CLUSTERED 
(
	[UOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Employee] ([EmployeeID], [Surname], [Name], [Patronymic], [PhoneNumber], [PostID], [Email], [Password], [Photo]) VALUES (1, N'Давыдов', N'Богдан', N'Юрьевич', N'307(227)645-14-27', 1, N'o@outlook.com', N'1', N'1.jpg')
INSERT [dbo].[Employee] ([EmployeeID], [Surname], [Name], [Patronymic], [PhoneNumber], [PostID], [Email], [Password], [Photo]) VALUES (2, N'Шарапов', N'Максим', N'Федорович', N'43(70)019-11-06', 1, N'hr6zdl@yandex.ru', N'1', N'2.jpg')
INSERT [dbo].[Employee] ([EmployeeID], [Surname], [Name], [Patronymic], [PhoneNumber], [PostID], [Email], [Password], [Photo]) VALUES (3, N'Герасимов', N'Яков', N'Аристархович', N'9(2654)355-71-71', 2, N'kaft93x@outlook.com', N'1', N'3.jpg')
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [UOrderID], [EmployeeID]) VALUES (1, 1, 1)
INSERT [dbo].[Order] ([OrderID], [UOrderID], [EmployeeID]) VALUES (2, 2, 2)
INSERT [dbo].[Order] ([OrderID], [UOrderID], [EmployeeID]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
INSERT [dbo].[Place] ([PlaceID], [City], [Street], [House], [Description], [Photo]) VALUES (1, N'Казань', N'Лебяжье', N'14', N'Лебяжье База Отдыха', N'leb.jpg')
INSERT [dbo].[Place] ([PlaceID], [City], [Street], [House], [Description], [Photo]) VALUES (2, N'Казань', N'Татарстан', N'21', N'Дом отдыха "Берсут"', N'tatar.jpg')
INSERT [dbo].[Place] ([PlaceID], [City], [Street], [House], [Description], [Photo]) VALUES (3, N'Казань', N'Глубокое озеро', N'1', N'База отдыха Глубокое Озеро', N'glub.jpg')
GO
INSERT [dbo].[Post] ([PostID], [Name]) VALUES (1, N'Ведущий')
INSERT [dbo].[Post] ([PostID], [Name]) VALUES (2, N'Менеджер')
INSERT [dbo].[Post] ([PostID], [Name]) VALUES (3, N'Фотограф')
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([ReviewID], [Rating], [Name], [Description]) VALUES (12, 4, N'Юлия', N'Всё прошло успешно!!!')
INSERT [dbo].[Review] ([ReviewID], [Rating], [Name], [Description]) VALUES (13, 5, N'Игорь', N'Отличное обслуживание')
INSERT [dbo].[Review] ([ReviewID], [Rating], [Name], [Description]) VALUES (14, 2, N'Андрей', N'Ценовая политика не гибкая')
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
INSERT [dbo].[Role] ([RoleID], [Name]) VALUES (1, N'Клиент')
INSERT [dbo].[Role] ([RoleID], [Name]) VALUES (2, N'Сотрудник')
INSERT [dbo].[Role] ([RoleID], [Name]) VALUES (3, N'Администратор')
GO
INSERT [dbo].[Service] ([ServiceID], [Name], [Price], [Photo]) VALUES (1, N'Online - Мероприятия', 60000, N'online.jpg')
INSERT [dbo].[Service] ([ServiceID], [Name], [Price], [Photo]) VALUES (2, N'Event Marketing', 45000, N'event.jpg')
INSERT [dbo].[Service] ([ServiceID], [Name], [Price], [Photo]) VALUES (3, N'Корпоративные мероприятия', 80000, N'korp.jpg')
GO
INSERT [dbo].[Status] ([StatusIDF], [Name]) VALUES (1, N'На рассмотрении')
INSERT [dbo].[Status] ([StatusIDF], [Name]) VALUES (2, N'Открыт')
INSERT [dbo].[Status] ([StatusIDF], [Name]) VALUES (3, N'Закрыт')
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Surname], [Name], [Patronymic], [Email], [Password], [PhoneNumber], [RoleID]) VALUES (1, N'Давыдов', N'Богдан', N'Юрьевич', N'o@outlook.com', N'1', N'307(227)645-14-27', 2)
INSERT [dbo].[User] ([UserID], [Surname], [Name], [Patronymic], [Email], [Password], [PhoneNumber], [RoleID]) VALUES (2, N'Шарапов', N'Максим', N'Федорович', N'hr6zdl@yandex.ru', N'1', N'43(70)019-11-06', 2)
INSERT [dbo].[User] ([UserID], [Surname], [Name], [Patronymic], [Email], [Password], [PhoneNumber], [RoleID]) VALUES (3, N'Герасимов', N'Яков', N'Аристархович', N'kaft93x@outlook.com', N'1', N'9(2654)355-71-71', 2)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserOrder] ON 

INSERT [dbo].[UserOrder] ([UOrderID], [UserID], [ServiceID], [OrderDate], [OrgDate], [Deposit], [TotalPrice], [PlaceID], [StatusID]) VALUES (1, 11, 1, CAST(N'2020-10-10' AS Date), CAST(N'2020-10-17' AS Date), 20000, 60000, 1, 3)
INSERT [dbo].[UserOrder] ([UOrderID], [UserID], [ServiceID], [OrderDate], [OrgDate], [Deposit], [TotalPrice], [PlaceID], [StatusID]) VALUES (2, 12, 2, CAST(N'2020-10-11' AS Date), CAST(N'2020-10-20' AS Date), 15000, 45000, 2, 3)
INSERT [dbo].[UserOrder] ([UOrderID], [UserID], [ServiceID], [OrderDate], [OrgDate], [Deposit], [TotalPrice], [PlaceID], [StatusID]) VALUES (3, 13, 3, CAST(N'2020-12-12' AS Date), CAST(N'2020-12-14' AS Date), 40000, 80000, 3, 3)
SET IDENTITY_INSERT [dbo].[UserOrder] OFF
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Post1] FOREIGN KEY([PostID])
REFERENCES [dbo].[Post] ([PostID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Post1]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Employee]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_UserOrder] FOREIGN KEY([UOrderID])
REFERENCES [dbo].[UserOrder] ([UOrderID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_UserOrder]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[UserOrder]  WITH CHECK ADD  CONSTRAINT [FK_UserOrder_Place] FOREIGN KEY([PlaceID])
REFERENCES [dbo].[Place] ([PlaceID])
GO
ALTER TABLE [dbo].[UserOrder] CHECK CONSTRAINT [FK_UserOrder_Place]
GO
ALTER TABLE [dbo].[UserOrder]  WITH CHECK ADD  CONSTRAINT [FK_UserOrder_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Service] ([ServiceID])
GO
ALTER TABLE [dbo].[UserOrder] CHECK CONSTRAINT [FK_UserOrder_Service]
GO
ALTER TABLE [dbo].[UserOrder]  WITH CHECK ADD  CONSTRAINT [FK_UserOrder_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([StatusIDF])
GO
ALTER TABLE [dbo].[UserOrder] CHECK CONSTRAINT [FK_UserOrder_Status]
GO
ALTER TABLE [dbo].[UserOrder]  WITH CHECK ADD  CONSTRAINT [FK_UserOrder_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[UserOrder] CHECK CONSTRAINT [FK_UserOrder_User]
GO
USE [master]
GO
