<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetProjects.WpfToolkit.DataVisualization" version="6.1.94" targetFramework="net472" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="EntityFramework.ru" version="6.2.0" targetFramework="net472" />
  <package id="MaterialDesignColors" version="2.1.2" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.8.0" targetFramework="net472" />
  <package id="Microsoft.UI.Xaml" version="2.8.3" targetFramework="net472" />
  <package id="Microsoft.Web.WebView2" version="1.0.1264.42" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net472" />
  <package id="Xceed.Products.Wpf.Toolkit.Base" version="4.5.23158.1451" targetFramework="net472" />
  <package id="Xceed.Wpf.Toolkit" version="4.5.23158.1451" targetFramework="net472" />
</packages>